@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --green: #C4F82A;
    --white: #FFFFFF;
    --blue: color: hsl(228, 45%, 44%); 

    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-500: 40px;
}

* {
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

main {
    background-color: var(--grey-900);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: var(--grey-800);
    width: 100%;
    max-width: 327px;
    padding: var(--spacing-300);
    border-radius: var(--spacing-150);
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--spacing-300);
}

.avatar img {
    width: 88px;
    height: 88px;
    border-radius: 100%;
}

.personal-information {
    margin-bottom: var(--spacing-300);
    text-align: center;
}

.personal-information .location {
    margin-top: var(--spacing-50);
    color: var(--green);
}

.facts {
    margin-bottom: var(--spacing-300);
    text-align: center;
}

.text-preset-1 {
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 400;
}

.text-preset-2-bold {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    font-weight: 700;
}

.social-links {
    display: grid;
    gap: 12px;
}

.social-links li {
    list-style: none;
    background-color: var(--grey-700);
    color: var(--white);
    text-align: center;
    border-radius: var(--spacing-100);
}

.social-links a {
    color: #FFFFFF;
    display: block;
    padding: var(--spacing-150);
    border-radius: var(--spacing-100);
}

.social-links a:hover,
.social-links a:focus {
    background-color: var(--green);
    color: var(--grey-700);
}

footer {
    font-size: 11px; text-align: center;
    padding: 10px;
}

footer a { 
    color: var(--blue);
}

@media screen and (min-width: 768px) {
    .card {
        max-width: 384px;
        padding: var(--spacing-500);
    }
}